Repository OpenZeppelin/openzeppelin-contracts, pull requests merged in 2018-09, with the labels that each got.

#1258 Remove underscores from event parameters.
  CODE_STYLE.md
  contracts/mocks/ERC721ReceiverMock.sol
  contracts/token/ERC721/IERC721Basic.sol
  test/token/ERC721/ERC721Basic.behavior.js
  test/token/ERC721/ERC721MintBurn.behavior.js
Labels: area:contracts, kind:improvement

#1253 Move contracts to subdirectories
  contracts/LimitBalance.sol
  contracts/access/SignatureBouncer.sol
  contracts/bounties/BreakInvariantBounty.sol
  contracts/cryptography/ECDSA.sol
  contracts/cryptography/MerkleProof.sol
  contracts/mocks/AutoIncrementingImpl.sol
  contracts/mocks/ECDSAMock.sol
  contracts/mocks/InsecureInvariantTargetBounty.sol
  contracts/mocks/InsecureTargetBounty.sol
  contracts/mocks/LimitBalanceMock.sol
  contracts/mocks/MerkleProofWrapper.sol
  contracts/mocks/ReentrancyMock.sol
  contracts/mocks/SecureInvariantTargetBounty.sol
  contracts/mocks/SecureTargetBounty.sol
  contracts/token/ERC721/ERC721Basic.sol
  contracts/utils/Address.sol
  contracts/utils/AutoIncrementing.sol
  contracts/utils/ReentrancyGuard.sol
  test/BreakInvariantBounty.test.js
  test/LimitBalance.test.js
  test/library/ECDSA.test.js
Labels: area:contracts, breaking change, kind:improvement

#1254 Remove HasNoEther, HasNoTokens, HasNoContracts, and NoOwner
  contracts/bounties/BreakInvariantBounty.sol
  contracts/lifecycle/Destructible.sol
  contracts/lifecycle/TokenDestructible.sol
  contracts/mocks/DestructibleMock.sol
  contracts/mocks/ERC223TokenMock.sol
  contracts/mocks/HasNoEtherTest.sol
  contracts/ownership/Contactable.sol
  contracts/ownership/HasNoContracts.sol
  contracts/ownership/HasNoEther.sol
  contracts/ownership/HasNoTokens.sol
  contracts/ownership/NoOwner.sol
  contracts/token/ERC721/IDeprecatedERC721.sol
  test/lifecycle/Destructible.test.js
  test/lifecycle/TokenDestructible.test.js
  test/ownership/Contactable.test.js
  test/ownership/HasNoContracts.test.js
  test/ownership/HasNoEther.test.js
  test/ownership/HasNoTokens.test.js
Labels: area:contracts, breaking change, status:in-progress

#1257 Add a leading underscore to internal and private functions.
  CODE_STYLE.md
  contracts/access/SignatureBouncer.sol
  contracts/access/Whitelist.sol
  contracts/access/rbac/RBAC.sol
  contracts/bounties/BreakInvariantBounty.sol
  contracts/crowdsale/distribution/FinalizableCrowdsale.sol
  contracts/crowdsale/distribution/RefundableCrowdsale.sol
  contracts/examples/RBACWithAdmin.sol
  contracts/mocks/BouncerMock.sol
  contracts/mocks/ERC721Mock.sol
  contracts/mocks/InsecureInvariantTargetBounty.sol
  contracts/mocks/PullPaymentMock.sol
  contracts/mocks/RBACMock.sol
  contracts/mocks/SecureInvariantTargetBounty.sol
  contracts/ownership/Heritable.sol
  contracts/ownership/Superuser.sol
  contracts/payment/PullPayment.sol
  contracts/payment/SplitPayment.sol
  contracts/token/ERC20/RBACMintableToken.sol
  contracts/token/ERC721/ERC721.sol
  contracts/token/ERC721/ERC721Basic.sol
  test/token/ERC721/ERC721.test.js
Labels: area:contracts, breaking change, kind:improvement

#1265 Improve encapsulation on SignatureBouncer, Whitelist and RBAC example
  contracts/access/SignatureBouncer.sol
  contracts/access/Whitelist.sol
  contracts/examples/RBACWithAdmin.sol
  contracts/mocks/RBACMock.sol
  contracts/ownership/Superuser.sol
  contracts/token/ERC20/RBACMintableToken.sol
  test/access/SignatureBouncer.test.js
  test/access/Whitelist.test.js
  test/crowdsale/MintedCrowdsale.test.js
  test/crowdsale/WhitelistedCrowdsale.test.js
  test/token/ERC20/RBACMintableToken.behavior.js
Labels: area:contracts, breaking change, kind:improvement

#1274 Remove Claimable, DelayedClaimable, Heritable
  contracts/examples/SimpleSavingsWallet.sol
  contracts/ownership/Claimable.sol
  contracts/ownership/DelayedClaimable.sol
  contracts/ownership/Heritable.sol
  test/Heritable.test.js
  test/SimpleSavingsWallet.test.js
  test/ownership/Claimable.test.js
  test/ownership/DelayedClaimable.test.js
Labels: area:contracts, breaking change

#1275 Allow non-beneficiaries to trigger release of their funds
  contracts/crowdsale/distribution/PostDeliveryCrowdsale.sol
  contracts/crowdsale/distribution/RefundableCrowdsale.sol
  contracts/payment/PullPayment.sol
  contracts/payment/SplitPayment.sol
  test/BreakInvariantBounty.test.js
  test/crowdsale/PostDeliveryCrowdsale.test.js
  test/crowdsale/RefundableCrowdsale.test.js
  test/examples/SampleCrowdsale.test.js
  test/payment/PullPayment.test.js
  test/payment/SplitPayment.test.js
Labels: area:contracts, breaking change, kind:improvement

#1269 Improve encapsulation on lifecycle, ownership and payments
  contracts/bounties/BreakInvariantBounty.sol
  contracts/drafts/TokenVesting.sol
  contracts/lifecycle/Pausable.sol
  contracts/ownership/CanReclaimToken.sol
  contracts/ownership/Ownable.sol
  contracts/ownership/Superuser.sol
  contracts/payment/RefundEscrow.sol
  contracts/payment/SplitPayment.sol
  contracts/token/ERC20/ERC20Mintable.sol
  test/payment/RefundEscrow.test.js
  test/payment/SplitPayment.test.js
Labels: area:contracts, breaking change, kind:improvement

#1270 Improve encapsulation on ERCs
  contracts/drafts/TokenVesting.sol
  contracts/introspection/SupportsInterfaceWithLookup.sol
  contracts/token/ERC20/ERC20Capped.sol
  contracts/token/ERC20/ERC20Detailed.sol
  contracts/token/ERC20/ERC20Mintable.sol
  contracts/token/ERC20/TokenTimelock.sol
  contracts/token/ERC721/ERC721.sol
  contracts/token/ERC721/ERC721Basic.sol
  contracts/token/ERC721/IERC721Basic.sol
  test/token/ERC20/ERC20Detailed.test.js
  test/token/ERC20/TokenTimelock.test.js
  test/token/ERC20/TokenVesting.test.js
Labels: area:contracts, breaking change, kind:improvement

#1268 Improve encapsulation on Crowdsales
  contracts/crowdsale/Crowdsale.sol
  contracts/crowdsale/distribution/FinalizableCrowdsale.sol
  contracts/crowdsale/distribution/PostDeliveryCrowdsale.sol
  contracts/crowdsale/distribution/RefundableCrowdsale.sol
  contracts/crowdsale/emission/AllowanceCrowdsale.sol
  contracts/crowdsale/emission/MintedCrowdsale.sol
  contracts/crowdsale/price/IncreasingPriceCrowdsale.sol
  contracts/crowdsale/validation/CappedCrowdsale.sol
  contracts/crowdsale/validation/IndividuallyCappedCrowdsale.sol
  test/crowdsale/AllowanceCrowdsale.test.js
  test/crowdsale/IncreasingPriceCrowdsale.test.js
  test/crowdsale/PostDeliveryCrowdsale.test.js
Labels: area:contracts, breaking change, kind:improvement

#1280 Improved Roles API.
  contracts/access/rbac/MinterRole.sol
  contracts/access/rbac/Roles.sol
  contracts/examples/SampleCrowdsale.sol
  contracts/mocks/ERC20MintableMock.sol
  contracts/mocks/RolesMock.sol
  contracts/token/ERC20/ERC20Capped.sol
  contracts/token/ERC20/ERC20Mintable.sol
  test/access/rbac/PublicRole.behavior.js
  test/access/rbac/Roles.test.js
  test/crowdsale/MintedCrowdsale.test.js
  test/examples/SampleCrowdsale.test.js
  test/token/ERC20/ERC20Capped.test.js
  test/token/ERC20/ERC20Mintable.test.js
  test/token/ERC20/TokenTimelock.test.js
  test/token/ERC20/TokenVesting.test.js
Labels: area:contracts

#1277 Update modifiers to call public view functions
  contracts/crowdsale/validation/TimedCrowdsale.sol
  contracts/ownership/Ownable.sol
  contracts/token/ERC20/ERC20Mintable.sol
  contracts/token/ERC20/RBACMintableToken.sol
  test/crowdsale/TimedCrowdsale.test.js
  test/ownership/Ownable.behavior.js
Labels: area:contracts, kind:feature

#1281 Improve encapsulation on TimedCrowdsale
  contracts/crowdsale/price/IncreasingPriceCrowdsale.sol
  contracts/crowdsale/validation/TimedCrowdsale.sol
Labels: area:contracts, breaking change

#1285 Role behavior tests
  contracts/mocks/ERC20MintableMock.sol
  contracts/mocks/ERC20PausableMock.sol
  contracts/mocks/ERC721PausableMock.sol
  contracts/mocks/MinterRoleMock.sol
  contracts/mocks/PausableMock.sol
  contracts/mocks/PauserRoleMock.sol
  test/access/rbac/MinterRole.test.js
  test/access/rbac/PauserRole.test.js
  test/lifecycle/Pausable.test.js
  test/token/ERC20/ERC20Mintable.test.js
  test/token/ERC20/ERC20Pausable.test.js
  test/token/ERC721/ERC721Pausable.test.js
Labels: area:tests

#1288 Rename SupportsInterfaceWithLookup to ERC165
  contracts/introspection/ERC165.sol
  contracts/mocks/ERC165Mock.sol
  contracts/token/ERC721/ERC721.sol
  contracts/token/ERC721/ERC721Basic.sol
  test/introspection/ERC165.test.js
Labels: area:contracts, breaking change

#1256 getApproved require the given token ID exist
  contracts/token/ERC721/ERC721Basic.sol
  test/token/ERC721/ERC721MintBurn.behavior.js
Labels: area:contracts, breaking change, bug, kind:improvement

#1294 Rename MerkleProof.verifyProof to MerkleProof.verify
  contracts/cryptography/MerkleProof.sol
  contracts/mocks/MerkleProofWrapper.sol
  test/library/MerkleProof.test.js
Labels: area:contracts, breaking change, kind:improvement

#1296 Simplify IndividuallyCappedCrowdsale interface
  contracts/crowdsale/validation/IndividuallyCappedCrowdsale.sol
  test/crowdsale/IndividuallyCappedCrowdsale.test.js
Labels: area:contracts, breaking change, kind:improvement

#1293 Fix decrease allowance and add non-zero address precondition to approve
  contracts/token/ERC20/ERC20.sol
  contracts/token/ERC20/ERC20Pausable.sol
  test/token/ERC20/ERC20.test.js
  test/token/ERC20/ERC20Pausable.test.js
Labels: area:contracts, breaking change, kind:improvement

#1302 Added events to the role contracts.
  contracts/access/roles/CapperRole.sol
  contracts/access/roles/MinterRole.sol
  contracts/access/roles/PauserRole.sol
  contracts/access/roles/SignerRole.sol
  test/access/roles/PublicRole.behavior.js
Labels: area:contracts, kind:feature

#1300 Improve role behavior tests
  test/access/roles/PublicRole.behavior.js
Labels: area:tests, kind:improvement

#1303 Role library now requires non-zero addresses.
  contracts/access/Roles.sol
  contracts/drafts/SignatureBouncer.sol
  test/access/Roles.test.js
  test/access/roles/PublicRole.behavior.js
Labels: area:contracts, breaking change

#1306 Remove CanReclaimToken
  contracts/ownership/CanReclaimToken.sol
  test/ownership/CanReclaimToken.test.js
Labels: area:contracts, breaking change

#1304 Improved ERC721 granularity
  contracts/mocks/ERC721BasicMock.sol
  contracts/mocks/ERC721FullMock.sol
  contracts/mocks/ERC721MintableBurnableImpl.sol
  contracts/mocks/ERC721Mock.sol
  contracts/token/ERC721/ERC721.sol
  contracts/token/ERC721/ERC721Basic.sol
  contracts/token/ERC721/ERC721Enumerable.sol
  contracts/token/ERC721/ERC721Full.sol
  contracts/token/ERC721/ERC721Metadata.sol
  contracts/token/ERC721/ERC721Mintable.sol
  contracts/token/ERC721/ERC721Pausable.sol
  contracts/token/ERC721/IERC721.sol
  contracts/token/ERC721/IERC721Basic.sol
  contracts/token/ERC721/IERC721Enumerable.sol
  contracts/token/ERC721/IERC721Full.sol
  contracts/token/ERC721/IERC721Metadata.sol
  test/token/ERC721/ERC721.behavior.js
  test/token/ERC721/ERC721.test.js
  test/token/ERC721/ERC721Basic.test.js
  test/token/ERC721/ERC721Burnable.test.js
  test/token/ERC721/ERC721Full.test.js
  test/token/ERC721/ERC721Mintable.test.js
  test/token/ERC721/ERC721Pausable.test.js
Labels: area:contracts, breaking change

#1054 Add ERC20 opt-in migration contract
  contracts/drafts/ERC20Migrator.sol
  test/drafts/ERC20Migrator.test.js
  test/helpers/expectEvent.js
  test/token/ERC20/ERC20Burnable.test.js
  test/token/ERC20/ERC20Capped.test.js
  test/token/ERC20/ERC20Mintable.test.js
  test/token/ERC20/behaviors/ERC20Burnable.behavior.js
  test/token/ERC20/behaviors/ERC20Capped.behavior.js
  test/token/ERC20/behaviors/ERC20Mintable.behavior.js
Labels: area:contracts, kind:feature

#1318 Fixed a broken payment test (+ another small fix)
  .github/PULL_REQUEST_TEMPLATE.md
  test/payment/SplitPayment.test.js
Labels: area:tests, bug

#1316 Add unit test specific to Address utils (#1251)
  contracts/mocks/AddressImpl.sol
  test/Address.test.js
Labels: area:tests, kind:improvement

#1321 Fixed relative import paths.
  contracts/mocks/InsecureInvariantTargetBounty.sol
  contracts/mocks/SecureInvariantTargetBounty.sol
Labels: kind:improvement

#1334 Move BreakInvariantBounty to drafts
  contracts/drafts/BreakInvariantBounty.sol
  contracts/mocks/InsecureInvariantTargetBounty.sol
  contracts/mocks/SecureInvariantTargetBounty.sol
  test/drafts/BreakInvariantBounty.test.js
Labels: breaking change

#1249 Add the missing test for ERC721Holder
  test/token/ERC721/ERC721Holder.test.js
Labels: area:tests, kind:improvement

#1351 Removed mintingFinished.
  contracts/token/ERC20/ERC20Mintable.sol
  contracts/token/ERC721/ERC721Mintable.sol
  test/token/ERC20/behaviors/ERC20Mintable.behavior.js
  test/token/ERC721/ERC721MintBurn.behavior.js
Labels: area:contracts, breaking change

#1350 Improved bounty tests.
  contracts/mocks/BreakInvariantBountyMock.sol
  contracts/mocks/InsecureInvariantTargetBounty.sol
  test/BreakInvariantBounty.test.js
Labels: area:tests, kind:improvement

#1262 Implementation of TimelockedEscrow, ConditionalTokenEscrow, RefundTokenEscrow & TimelockedTokenEscrow
  contracts/mocks/ConditionalTokenEscrowMock.sol
  contracts/payment/ConditionalTokenEscrow.sol
  contracts/payment/RefundTokenEscrow.sol
  contracts/payment/TimelockedEscrow.sol
  contracts/payment/TimelockedTokenEscrow.sol
  test/payment/ConditionalTokenEscrow.test.js
  test/payment/RefundTokenEscrow.test.js
  test/payment/TimelockedEscrow.test.js
  test/payment/TimelockedTokenEscrow.test.js
  test/payment/TokenEscrow.behavior.js
  test/payment/TokenEscrow.test.js
Labels: area:contracts, kind:feature

#1338 Add BigNumber support to expectEvent/inLogs (#1026)
  test/crowdsale/AllowanceCrowdsale.test.js
  test/helpers/expectEvent.js
Labels: area:tests, kind:improvement

#1248 Add missing tests to ECSDA
  test/library/ECDSA.test.js
Labels: area:tests, kind:improvement

#1360 Add SignatureBouncer test for when msg.data is too short
  contracts/mocks/SignatureBouncerMock.sol
  test/drafts/SignatureBouncer.test.js
Labels: area:tests, kind:improvement
