Repository OpenZeppelin/openzeppelin-contracts, pull requests merged in 2018-10, with the labels that each got.

#1367 Fix #1358 Test helper to send funds
  test/BreakInvariantBounty.test.js
  test/helpers/sendTransaction.js
  test/payment/SplitPayment.test.js
Labels: area:tests, kind:feature

#1364 Merged latestTime, increaseTime and duration into a single time helper.
  test/crowdsale/FinalizableCrowdsale.test.js
  test/crowdsale/IncreasingPriceCrowdsale.test.js
  test/crowdsale/PostDeliveryCrowdsale.test.js
  test/crowdsale/RefundableCrowdsale.test.js
  test/crowdsale/TimedCrowdsale.test.js
  test/examples/SampleCrowdsale.test.js
  test/helpers/latestTime.js
  test/helpers/time.js
  test/token/ERC20/TokenTimelock.test.js
  test/token/ERC20/TokenVesting.test.js
Labels: area:tests, breaking change

#1370 ERC20 internal transfer method
  contracts/token/ERC20/ERC20.sol
Labels: area:contracts, kind:feature

#1374 Prevents Bounty from being claimed twice
  contracts/bounties/BreakInvariantBounty.sol
  test/BreakInvariantBounty.test.js
Labels: area:contracts, breaking change

#1380 `this` is used in tests
  test/examples/SimpleToken.test.js
  test/library/MerkleProof.test.js
  test/token/ERC20/ERC20Detailed.test.js
  test/utils/ReentrancyGuard.test.js
Labels: area:tests, kind:improvement

#1381 Removed unnecessary Secondary inheritance from RefundEscrow.
  contracts/payment/RefundEscrow.sol
Labels: area:contracts, kind:improvement

#1382 Removed old, unused mocks.
  contracts/mocks/ForceEther.sol
  contracts/mocks/MessageHelper.sol
Labels: area:tests, kind:improvement

#1375 Add Arrays library with unit tests (#1209)
  contracts/mocks/ArraysImpl.sol
  contracts/utils/Arrays.sol
  test/utils/Arrays.test.js
Labels: area:contracts, kind:feature

#1395 Added a constructor to BreakInvariantBounty.
  contracts/bounties/BreakInvariantBounty.sol
Labels: area:contracts, kind:improvement

#1397 Improves Ownable events
  contracts/ownership/Ownable.sol
  test/ownership/Ownable.behavior.js
Labels: area:contracts, breaking change

#1406 Fix typo in ARCHITECTURE.md
  contracts/ARCHITECTURE.md
Labels: area:documentation, kind:improvement

#1369 First test helpers tests
  contracts/mocks/EventEmitter.sol
  test/helpers/advanceToBlock.js
  test/helpers/test/advanceToBlock.test.js
  test/helpers/test/expectEvent.test.js
Labels: area:tests, kind:improvement

#1379 Improve encapsulation on ERC165 and update code style guide
  CODE_STYLE.md
  contracts/introspection/ERC165.sol
  contracts/mocks/ERC165/ERC165InterfacesSupported.sol
Labels: area:contracts, breaking change

#1427 Made some TokenVesting public functions private.
  contracts/drafts/TokenVesting.sol
  test/drafts/TokenVesting.test.js
Labels: area:contracts, breaking change

#1439 Internal crowdsales
  contracts/crowdsale/Crowdsale.sol
  contracts/crowdsale/distribution/FinalizableCrowdsale.sol
  contracts/crowdsale/distribution/PostDeliveryCrowdsale.sol
  contracts/crowdsale/distribution/RefundableCrowdsale.sol
  contracts/crowdsale/emission/AllowanceCrowdsale.sol
  contracts/crowdsale/emission/MintedCrowdsale.sol
  contracts/crowdsale/price/IncreasingPriceCrowdsale.sol
  contracts/crowdsale/validation/CappedCrowdsale.sol
  contracts/crowdsale/validation/IndividuallyCappedCrowdsale.sol
  contracts/crowdsale/validation/TimedCrowdsale.sol
  contracts/mocks/CrowdsaleMock.sol
  test/crowdsale/Crowdsale.test.js
Labels: area:contracts, breaking change

#1437 Deleted unnecessary import.
  contracts/crowdsale/distribution/PostDeliveryCrowdsale.sol
  contracts/token/ERC20/SafeERC20.sol
Labels: area:contracts, kind:improvement

#1438 Crowdsale.buyTokens is now nonReentrant.
  contracts/crowdsale/Crowdsale.sol
  contracts/utils/ReentrancyGuard.sol
Labels: area:contracts, breaking change
