Repository OpenZeppelin/openzeppelin-contracts, pull requests merged in 2018-12, with the labels that each got.

#1528 Updated sendTransaction, added tests.
  contracts/mocks/Acknowledger.sol
  test/helpers/send.js
  test/helpers/test/balanceDifference.test.js
  test/helpers/test/send.test.js
  test/payment/PaymentSplitter.test.js
  test/token/ERC721/ERC721.behavior.js
  test/token/ERC721/ERC721PausedToken.behavior.js
Labels: area:tests, kind:feature

#1532 Added explicity pify dep, deprecating web3.eth.
  package-lock.json
  package.json
  test/helpers/balanceDifference.js
  test/helpers/expectEvent.js
  test/helpers/time.js
  test/helpers/web3.js
Labels: area:tests, kind:improvement

#1539 Optimized ERC721 transfers.
  contracts/token/ERC721/ERC721.sol
  contracts/token/ERC721/ERC721Enumerable.sol
Labels: area:contracts, kind:improvement

#1550 Deprecated ERC721._burn(address, uint256)
  contracts/mocks/ERC721Mock.sol
  contracts/mocks/ERC721PausableMock.sol
  contracts/token/ERC721/ERC721.sol
  contracts/token/ERC721/ERC721Burnable.sol
  contracts/token/ERC721/ERC721Enumerable.sol
  contracts/token/ERC721/ERC721Metadata.sol
Labels: area:contracts, kind:feature

#1525 Add back WhitelistedCrowdsale
  contracts/access/roles/WhitelistedRole.sol
  contracts/access/roles/WhitelisterRole.sol
  contracts/crowdsale/validation/WhitelistCrowdsale.sol
  contracts/mocks/WhitelistCrowdsaleImpl.sol
  contracts/mocks/WhitelistedRoleMock.sol
  contracts/mocks/WhitelisterRoleMock.sol
  test/access/roles/PublicRole.behavior.js
  test/access/roles/WhitelistedRole.test.js
  test/access/roles/WhitelisterRole.test.js
  test/crowdsale/WhitelistCrowdsale.test.js
Labels: area:contracts, kind:feature

#1553 Update Arrays.sol to require solc 0.4.24.
  contracts/utils/Arrays.sol
Labels: area:contracts, kind:improvement

#1549 ERC721 bugfix + gas optimizations
  contracts/mocks/ERC721FullMock.sol
  contracts/mocks/ERC721Mock.sol
  contracts/token/ERC721/ERC721.sol
  contracts/token/ERC721/ERC721Enumerable.sol
  test/token/ERC721/ERC721.test.js
  test/token/ERC721/ERC721Full.test.js
Labels: area:contracts, kind:improvement

#832 Added PausableCrowdsale contract
  contracts/crowdsale/validation/PausableCrowdsale.sol
  contracts/mocks/PausableCrowdsaleImpl.sol
  test/crowdsale/PausableCrowdsale.test.js
Labels: area:contracts, kind:feature

#1559 Signed SafeMath
  CHANGELOG.md
  contracts/math/SafeMath.sol
  contracts/mocks/SafeMathMock.sol
  test/helpers/constants.js
  test/math/SafeMath.test.js
Labels: area:contracts, kind:feature

#1564 Made the Crowdsale's constructor public again.
  CHANGELOG.md
  contracts/crowdsale/Crowdsale.sol
  contracts/crowdsale/distribution/PostDeliveryCrowdsale.sol
  contracts/crowdsale/distribution/RefundableCrowdsale.sol
  contracts/crowdsale/emission/AllowanceCrowdsale.sol
  contracts/crowdsale/emission/MintedCrowdsale.sol
  contracts/crowdsale/price/IncreasingPriceCrowdsale.sol
  contracts/crowdsale/validation/CappedCrowdsale.sol
  contracts/crowdsale/validation/IndividuallyCappedCrowdsale.sol
  contracts/crowdsale/validation/TimedCrowdsale.sol
Labels: area:contracts, kind:feature

#1567 Updated PausableCrowdsale to require solc ^0.4.24
  contracts/crowdsale/validation/PausableCrowdsale.sol
  contracts/mocks/PausableCrowdsaleImpl.sol
Labels: area:contracts, kind:improvement

#1571 Remove linux-specific mktemp usage
  scripts/build.sh
Labels: area:automation
