Repository OpenZeppelin/openzeppelin-contracts, pull requests merged in 2019-01, with the labels that each got.

#1588 Separate unsigned and signed safemath libraries
  CHANGELOG.md
  contracts/drafts/SignedSafeMath.sol
  contracts/math/SafeMath.sol
  contracts/mocks/SafeMathMock.sol
  contracts/mocks/SignedSafeMathMock.sol
  test/drafts/SignedSafeMath.test.js
  test/math/SafeMath.test.js
Labels: breaking change

#1589 Rename WhitelisterRole to WhitelistAdminRole.
  CHANGELOG.md
  contracts/access/roles/WhitelistAdminRole.sol
  contracts/access/roles/WhitelistedRole.sol
  contracts/access/roles/WhitelisterRole.sol
  contracts/mocks/WhitelistAdminRoleMock.sol
  contracts/mocks/WhitelisterRoleMock.sol
  test/access/roles/WhitelistAdminRole.test.js
  test/access/roles/WhitelistedRole.test.js
  test/access/roles/WhitelisterRole.test.js
Labels: area:contracts, kind:improvement

#1611 Improve SafeMath test coverage.
  test/drafts/SignedSafeMath.test.js
  test/math/SafeMath.test.js
Labels: improvement, tests

#1620 Bring back coverage report.
  .travis.yml
  package-lock.json
  package.json
Labels: improvement, tests

#1618 Add ERC20 _setTokenURI
  CHANGELOG.md
  contracts/drafts/ERC1046/ERC20Metadata.sol
  contracts/mocks/ERC20MetadataMock.sol
  contracts/mocks/ERC20WithMetadataMock.sol
  test/drafts/ERC1046/ERC20Metadata.test.js
  test/drafts/ERC1046/TokenMetadata.test.js
Labels: contracts, feature
