Repository OpenZeppelin/openzeppelin-contracts, pull requests merged in 2019-05, with the labels that each got.

#1732 Fix solc-nightly job
  package-lock.json
  package.json
  scripts/compile.sh
  scripts/prepack.sh
  scripts/test.sh
  truffle-config.js
Labels: automation

#1735 Add ERC20 compatibility to ERC777.
  CHANGELOG.md
  contracts/drafts/ERC777/ERC777.sol
  contracts/token/ERC20/ERC20.sol
  test/drafts/ERC777/ERC777.behavior.js
  test/drafts/ERC777/ERC777.test.js
  test/token/ERC20/ERC20.behavior.js
  test/token/ERC20/ERC20.test.js
Labels: contracts, feature

#1742 Move ERC1820 and ERC777 out of drafts
  contracts/introspection/ERC1820Implementer.sol
  contracts/introspection/IERC1820Implementer.sol
  contracts/introspection/IERC1820Registry.sol
  contracts/mocks/ERC1820ImplementerMock.sol
  contracts/mocks/ERC777Mock.sol
  contracts/mocks/ERC777SenderRecipientMock.sol
  contracts/token/ERC777/ERC777.sol
  contracts/token/ERC777/IERC777.sol
  contracts/token/ERC777/IERC777Recipient.sol
  contracts/token/ERC777/IERC777Sender.sol
Labels: contracts

#1752 Disallow ERC20._transfer from the zero address.
  CHANGELOG.md
  contracts/mocks/ERC20Mock.sol
  contracts/token/ERC20/ERC20.sol
  test/token/ERC20/ERC20.behavior.js
  test/token/ERC20/ERC20.test.js
Labels: bug, contracts

#1751 Update transferFrom to modify allowance in-between hook calls.
  contracts/token/ERC777/ERC777.sol
Labels: bug, contracts

#1754 API docs for ERC777.
  contracts/token/ERC777/IERC777.sol
Labels: documentation

#1770 Update test-helpers to v0.4.0.
  package-lock.json
  package.json
  test/access/Roles.test.js
  test/behaviors/access/roles/PublicRole.behavior.js
  test/crowdsale/AllowanceCrowdsale.test.js
  test/crowdsale/CappedCrowdsale.test.js
  test/crowdsale/Crowdsale.test.js
  test/crowdsale/FinalizableCrowdsale.test.js
  test/crowdsale/IncreasingPriceCrowdsale.test.js
  test/crowdsale/IndividuallyCappedCrowdsale.test.js
  test/crowdsale/MintedCrowdsale.test.js
  test/crowdsale/PausableCrowdsale.test.js
  test/crowdsale/PostDeliveryCrowdsale.test.js
  test/crowdsale/RefundableCrowdsale.test.js
  test/crowdsale/RefundablePostDeliveryCrowdsale.test.js
  test/crowdsale/TimedCrowdsale.test.js
  test/crowdsale/WhitelistCrowdsale.test.js
  test/cryptography/ECDSA.test.js
  test/drafts/Counters.test.js
  test/drafts/ERC20Migrator.test.js
  test/drafts/ERC20Snapshot.test.js
  test/drafts/SignatureBouncer.test.js
  test/drafts/SignedSafeMath.test.js
  test/drafts/TokenVesting.test.js
  test/examples/SampleCrowdsale.test.js
  test/introspection/ERC165.test.js
  test/introspection/ERC1820Implementer.test.js
  test/introspection/SupportsInterface.behavior.js
  test/lifecycle/Pausable.test.js
  test/math/SafeMath.test.js
  test/ownership/Ownable.behavior.js
  test/ownership/Secondary.test.js
  test/payment/PaymentSplitter.test.js
  test/payment/escrow/ConditionalEscrow.test.js
  test/payment/escrow/Escrow.behavior.js
  test/payment/escrow/RefundEscrow.test.js
  test/token/ERC20/ERC20.behavior.js
  test/token/ERC20/ERC20.test.js
  test/token/ERC20/ERC20Capped.test.js
  test/token/ERC20/ERC20Pausable.test.js
  test/token/ERC20/SafeERC20.test.js
  test/token/ERC20/TokenTimelock.test.js
  test/token/ERC20/behaviors/ERC20Burnable.behavior.js
  test/token/ERC20/behaviors/ERC20Capped.behavior.js
  test/token/ERC20/behaviors/ERC20Mintable.behavior.js
  test/token/ERC721/ERC721.behavior.js
  test/token/ERC721/ERC721.test.js
  test/token/ERC721/ERC721Full.test.js
  test/token/ERC721/ERC721MintBurn.behavior.js
  test/token/ERC721/ERC721PausedToken.behavior.js
  test/token/ERC777/ERC777.behavior.js
  test/token/ERC777/ERC777.test.js
  test/utils/ReentrancyGuard.test.js
Labels: tests
