Repository OpenZeppelin/openzeppelin-contracts, pull requests merged in 2019-08, with the labels that each got.

#1868 CircleCI configuration tweaks
  .circleci/config.yml
Labels: automation

#1844 Initial GSN support (beta)
  CHANGELOG.md
  contracts/GSN/Context.sol
  contracts/GSN/GSNContext.sol
  contracts/GSN/GSNRecipient.sol
  contracts/GSN/IRelayHub.sol
  contracts/GSN/IRelayRecipient.sol
  contracts/GSN/README.adoc
  contracts/GSN/bouncers/GSNBouncerBase.sol
  contracts/GSN/bouncers/GSNBouncerERC20Fee.sol
  contracts/GSN/bouncers/GSNBouncerSignature.sol
  contracts/mocks/ContextMock.sol
  contracts/mocks/GSNBouncerERC20FeeMock.sol
  contracts/mocks/GSNBouncerSignatureMock.sol
  contracts/mocks/GSNContextMock.sol
  contracts/mocks/GSNRecipientMock.sol
  package-lock.json
  package.json
  scripts/coverage.sh
  scripts/test.sh
  test/GSN/Context.behavior.js
  test/GSN/Context.test.js
  test/GSN/GSNBouncerERC20Fee.test.js
  test/GSN/GSNBouncerSignature.test.js
  test/GSN/GSNContext.test.js
  test/GSN/GSNRecipient.test.js
  truffle-config.js
Labels: contracts

#1880 GSN compatibility
  .editorconfig
  contracts/access/roles/CapperRole.sol
  contracts/access/roles/MinterRole.sol
  contracts/access/roles/PauserRole.sol
  contracts/access/roles/SignerRole.sol
  contracts/access/roles/WhitelistAdminRole.sol
  contracts/access/roles/WhitelistedRole.sol
  contracts/crowdsale/Crowdsale.sol
  contracts/crowdsale/distribution/RefundableCrowdsale.sol
  contracts/drafts/SignatureBouncer.sol
  contracts/examples/SimpleToken.sol
  contracts/lifecycle/Pausable.sol
  contracts/mocks/ERC721GSNRecipientMock.sol
  contracts/mocks/ERC777Mock.sol
  contracts/mocks/ERC777SenderRecipientMock.sol
  contracts/mocks/ReentrancyAttack.sol
  contracts/mocks/SafeERC20Helper.sol
  contracts/ownership/Ownable.sol
  contracts/ownership/Secondary.sol
  contracts/payment/PaymentSplitter.sol
  contracts/token/ERC20/ERC20.sol
  contracts/token/ERC20/ERC20Burnable.sol
  contracts/token/ERC721/ERC721.sol
  contracts/token/ERC721/ERC721Burnable.sol
  contracts/token/ERC721/ERC721Enumerable.sol
  contracts/token/ERC721/ERC721Metadata.sol
  contracts/token/ERC777/ERC777.sol
  package-lock.json
  package.json
  test/GSN/ERC721GSNRecipientMock.test.js
Labels: contracts

#1904 Replace confirmRelayedCall with approveRelayedCall
  docs/modules/ROOT/pages/gsn-bouncers.adoc
Labels: documentation

#1900 Improve GSN documentation
  contracts/GSN/GSNContext.sol
  contracts/GSN/GSNRecipient.sol
  contracts/GSN/IRelayHub.sol
  contracts/GSN/IRelayRecipient.sol
  contracts/GSN/README.adoc
  contracts/GSN/bouncers/GSNBouncerBase.sol
  contracts/token/ERC20/README.adoc
  docs/modules/ROOT/pages/gsn.adoc
Labels: documentation

#1906 Merge GSNContext into GSNRecipient
  contracts/GSN/GSNContext.sol
  contracts/GSN/GSNRecipient.sol
  contracts/mocks/GSNContextMock.sol
  contracts/mocks/GSNRecipientMock.sol
  test/GSN/GSNContext.test.js
  test/GSN/GSNRecipient.test.js
Labels: contracts
