Repository OpenZeppelin/openzeppelin-contracts, pull requests merged in 2019-02, with the labels that each got.

#1617 ERC20 Snapshot Impl #2
  .gitignore
  CHANGELOG.md
  contracts/drafts/ERC20Snapshot.sol
  contracts/mocks/ERC20SnapshotMock.sol
  test/drafts/ERC20Snapshot.test.js
Labels: contracts, feature

#1647 Fix SafeERC20.safeApprove bug
  contracts/mocks/SafeERC20Helper.sol
  contracts/token/ERC20/SafeERC20.sol
Labels: bug, contracts

#1650 Added PR links for 2.2.0 changelog entries.
  CHANGELOG.md
Labels: documentation, improvement

#1655 Add no-return-data ERC20 support to SafeERC20.
  CHANGELOG.md
  contracts/mocks/SafeERC20Helper.sol
  contracts/token/ERC20/SafeERC20.sol
  test/token/ERC20/SafeERC20.test.js
Labels: contracts, feature
