Repository OpenZeppelin/openzeppelin-contracts, pull requests merged in 2019-03, with the labels that each got.

#1659 Add guard to ERC20Migrator migrate function
  contracts/drafts/ERC20Migrator.sol
  test/drafts/ERC20Migrator.test.js
Labels: contracts, improvement

#1636 Add TimedCrowdsale::_extendTime
  CHANGELOG.md
  contracts/crowdsale/validation/TimedCrowdsale.sol
  contracts/mocks/TimedCrowdsaleImpl.sol
  test/crowdsale/TimedCrowdsale.test.js
Labels: contracts, feature

#1662 Add extcodesize check to SafeERC20.
  contracts/token/ERC20/SafeERC20.sol
  test/token/ERC20/SafeERC20.test.js
Labels: bug, contracts

#1622 Signature Malleability:
  CHANGELOG.md
  contracts/cryptography/ECDSA.sol
  test/cryptography/ECDSA.test.js
  test/helpers/sign.js
Labels: bug, contracts

#1666 Improve erc165 testing #1203
  test/introspection/SupportsInterface.behavior.js
Labels: improvement, tests

#1670 Fix typo in ERC20Snapshot.
  contracts/drafts/ERC20Snapshot.sol
Labels: contracts, improvement

#1671 Replace mentions of Slack for forum links.
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  RELEASING.md
Labels: documentation, improvement

#1672 Add API stability doc link.
  README.md
Labels: documentation, improvement

#1675 Improve test script.
  scripts/test.sh
Labels: automation, improvement

#1681 Add probot/stale to the repo.
  .github/stale.yml
Labels: automation, feature

#1686 Remove unused return variables.
  contracts/token/ERC20/ERC20Pausable.sol
Labels: contracts, improvement

#1677 Draft EIP 1820
  CHANGELOG.md
  contracts/drafts/ERC1820Implementer.sol
  contracts/drafts/IERC1820Implementer.sol
  contracts/drafts/IERC1820Registry.sol
  contracts/mocks/ERC1820ImplementerMock.sol
  package-lock.json
  package.json
  scripts/test.sh
  test/crowdsale/AllowanceCrowdsale.test.js
  test/crowdsale/Crowdsale.test.js
  test/crowdsale/MintedCrowdsale.behavior.js
  test/crowdsale/RefundableCrowdsale.test.js
  test/drafts/ERC1820Implementer.test.js
  test/examples/SampleCrowdsale.test.js
  test/payment/PullPayment.test.js
  test/payment/escrow/Escrow.behavior.js
  test/payment/escrow/RefundEscrow.test.js
Labels: contracts, feature

#1693 Update SafeERC20 description
  contracts/token/ERC20/SafeERC20.sol
Labels: documentation, improvement
